<footer class="footer">
    <div class="empty-div"></div>
    <div class="footer-banner">
      <div class="logo-socal_holder">
        <nav id="footer-nav">
          <div class="logo" id="logo">
            <img
              src="assets/image/naw.png"
              alt="logo"
            />
            <div class="name">
              <h2>Nawsish.</h2>
              <p>Software Engineer</p>
            </div>
          </div>
        </nav>
        <div class="soceal">
          <a href="https://www.facebook.com/nawsish.ahmed" target="_blank"
            ><i class="fab fa-facebook"></i></a
          ><a href="https://www.instagram.com/nawsish_echo/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div id="work-together">
        <a routerLink="/contactMe"
          ><h2>
            Let's work together<i class="fas fa-long-arrow-alt-right"></i></h2
        ></a>
      </div>
    </div>
    <div id="up">
      <a id="toArrow" href="#top"><i class="far fa-long-arrow-alt-up"></i></a>
    </div>
  </footer>